upstream backend {
{% if load_balancing_method != "round-robin" %}
    {{ load_balancing_method }};
{% endif %}
{% for server in backend_servers %}
    server {{ server.address }}:{{ server.port }};
{% endfor %}
}

server {
    listen {{ load_balancer_port }};

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
